.button-box{
  margin: 10px;
  text-align: right;
}

.project-box{
  @include prefix(box-shadow, 0 2px 0 rgba(0,0,0,0.1), webkit moz ms);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px 20px 10px 10px;

  .content-link{
    &:hover{
      text-decoration: none;
    }
  }

  .project-title{
    word-wrap: break-word;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }

  .project-description{
    font-size: 13px;
    color: #666;
    padding-bottom: 20px;
  }

  .btn-option{
    position: absolute;
    top: 0;
    right:0;
  }

  p.datetime{
    font-size: 11px;
    color: #999;
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  span.glyphicon-option-vertical{
    color:#666;
  }

  .btn.btn-default.dropdown-toggle{
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 5px;
  }
}