{% extends 'base.html.twig' %}

{% block title %}Translate String{% endblock %}

{% block body %}
    <div class="homepage-layout">
        <div class="container">
            <div class="row">
                <div class="center-screen homepage-block">
                <div class="col-sm-12">

                    <h1 class="title">Welcome to GenTran!</h1>
                    <p class="description">
                        GenTran is a simple application to manage your localize string<br/>
                        and generate many kind of files depend on Operating System!
                    </p>
                    <h2 class="color-white">How to use</h2>
                    <ol class="using-gentran">
                        <li>Register Account</li>
                        <li>Create Project</li>
                        <li>Choose Project Language and Operating System</li>
                        <li>Add Context</li>
                        <li>Add Key</li>
                        <li>Translate Key</li>
                    </ol>

                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-success btn-login">Login</a>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning btn-register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
